.programs{
    text-align: center;
}
h3{
    text-align: center;
    color: deeppink;
}

.stat{
    width: 60%;
    display: inline-block;
    clear: both;
}
    .image{
      display: inline-block;
        width: 30%;
        position: absolute;
    }